<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.egan.quicktile">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.zxing.activity.CaptureActivity"
            android:excludeFromRecents="true" />

        <service
            android:name="com.egan.quicktile.service.DingDingClock"
            android:icon="@mipmap/ic_ding_ding"
            android:label="@string/string_ding_clock_quickly_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":label">

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>

        <service
            android:name="com.egan.quicktile.service.AliPayPayClock"
            android:icon="@mipmap/ic_alipay_pay"
            android:label="@string/string_alipay_pay_quickly_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":label">

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>
        <service
            android:name="com.egan.quicktile.service.AliPayScanService"
            android:icon="@mipmap/ic_alipay_scan"
            android:label="@string/string_alipay_scan_quickly_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":label">

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>

        <service
            android:name="com.egan.quicktile.service.WechatScanService"
            android:icon="@mipmap/ic_wechat_scan"
            android:label="@string/string_wechat_scan_quickly_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":label">

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>

        <service
            android:name="com.egan.quicktile.service.CustomService"
            android:icon="@mipmap/ic_alipay_pay"
            android:label="@string/string_custom_quickly_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":label">

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>

        <service
            android:name="com.egan.quicktile.service.ScanService"
            android:icon="@mipmap/ic_alipay_pay"
            android:label="@string/string_scan_quickly_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":label">

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>

        <service
            android:name=".service.AutoInstallAccessibilityService"
            android:label="自动安装"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":label">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/xml_accessibility_config" />

        </service>

    </application>


</manifest>